.bar { 
    background-color: #152420;
    
 }
main { 
    background-image: url(../images/heroback.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
nav ul li{
    display: inline;
    list-style: none;
    
}


@media only screen and (max-width: 641px){
    html{
        background-image: linear-gradient(blue, white);
        background-repeat: no-repeat;
    }
    nav ul li{
        display: block;
    }
    h1{
        display: none;
    }
    main{
        background: transparent;
    }
}
@media only screen and(min-width: 642px){
    main{
        background: transparent;
    }
    h1{
        display: initial;
    }
}
@media only screen and (min-width: 1024px){

}

