body{
    background-image: linear-gradient(blue, white);
    background-repeat: no-repeat;
}
nav{
    background-color: #152420;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: block;
}
h1{
    display: none;
}

@media only screen and (min-width: 641px){
    body{
        background: transparent;
    }
    nav ul li{
        display: inline;
    }
    h1{
        display: block;
    }
    main { 
        background-image: url(../images/heroback.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }
    
}




