/*Sean James, 6 November 2020*/

outerwrapper{
    border-radius: 15%;
    text-align: center;
    background-color: rgba(243,205,170,0.4)
}
body{
    background-image: url(jewelry.jpg);
}
main{
    
    background-color: linear-gradient( #FFFFFF,#F0F9E6);
    padding: 10px;
    margin: 20px;
    border-radius: 2em;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;

}

img{
    float: left;  

}
h1{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
}
nav{
    list-style-type: none;
    font-size: 1.5em;
    float: none;
}
footer{
    font-size: 1em;
    text-align: center;
    padding: 10px;
}

